# Loop while

In [ ]:
# Mientras el error sea mayor a 1 se ejecuta el loop
error = 50.0

while error > 1 :
  error = error / 4 # importante que se actualice la variable error o de lo contrario correra para siempre
  print(error)

12.5
3.125
0.78125

In [ ]:
intentos = 0

while intentos < 5:
  intentos = intentos + 1
  # codigo para llamar a la API de google anlytics
  print(intentos)

1
2
3
4
5

# Loop For

In [ ]:
campaigns = [
"aw_coppel_tnd_do_pmax_cat_apuesta",
'aw_coppel_tnd_do_pmax_cat_celulares',
'aw_coppel_tnd_do_pmax_cat_cocina_y_electrodomesticos',
'aw_coppel_tnd_do_pmax_cat_colchones',
'aw_coppel_tnd_do_pmax_cat_cuidado_personal_y_accesorios',
'aw_coppel_tnd_do_pmax_cat_electronica',
'aw_coppel_tnd_do_pmax_cat_hogar_y_muebles',
'aw_coppel_tnd_do_pmax_cat_juguetes',
'aw_coppel_tnd_do_pmax_cat_moda',
'aw_coppel_tnd_do_pmax_cat_motos_y_automotriz',
'aw_coppel_tnd_do_pmax_cat_todos_productos',
'aw_coppel_tnd_do_pmax_cat_villanos',
'aw_coppel_tnd_do_pmax_cat_zapatos',
'aw_coppel_tnd_do_pmax_cat_zapatos',
'aw_coppel_tnd_do_pmax_cat_linea_blanca'
]

In [ ]:
for campaign in campaigns: # Por cada campaña dentro de la lista de campañas
  # Quiero que hagas x
  #print(campaign)
  print(campaign.replace('aw_coppel_tnd_do_pmax_cat_', ''))

apuesta
celulares
cocina_y_electrodomesticos
colchones
cuidado_personal_y_accesorios
electronica
hogar_y_muebles
juguetes
moda
motos_y_automotriz
todos_productos
villanos
zapatos
zapatos
linea_blanca

In [ ]:
costos_usd = [100, 123221, 12, 12, 234]

In [ ]:
costos_mx = []

for costo in costos_usd:
  costos_mx.append(costo * 20)

In [ ]:
costos_mx

[2000, 2464420, 240, 240, 4680]

## Iterar un diccionario

In [ ]:
campaigns = {
    'aw_coppel_tnd_do_pmax_cat_apuesta': 1000,
    'aw_coppel_tnd_do_pmax_cat_celulares': 2000,
    'aw_coppel_tnd_do_pmax_cat_cocina_y_electrodomesticos': 3000,
    'aw_coppel_tnd_do_pmax_cat_colchones': 4000
}

In [ ]:
type(campaigns)

dict

In [ ]:
campaigns['aw_coppel_tnd_do_pmax_cat_apuesta']

1000

In [ ]:
for campaign, cost in campaigns.items():
  print(campaign.replace('aw_coppel_tnd_do_pmax_cat_',''), cost*5)

apuesta 5000
celulares 10000
cocina_y_electrodomesticos 15000
colchones 20000

In [ ]:
prueba = {
    'a': {
        "b": {
            "c": 1
        }
    }
    }

In [ ]:
prueba

{'a': {'b': {'c': 1}}}

# Iterar un dataframe

In [ ]:
import pandas as pd

In [ ]:
employees = pd.read_csv('https://gist.githubusercontent.com/kevin336/acbb2271e66c10a5b73aacf82ca82784/raw/e38afe62e088394d61ed30884dd50a6826eee0a8/employees.csv')

In [ ]:
employees.head()

,EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID
0,198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600,-,124,50
1,199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600,-,124,50
2,200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400,-,101,10
3,201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000,-,100,20
4,202,Pat,Fay,PFAY,603.123.6666,17-AUG-05,MK_REP,6000,-,201,20

In [ ]:
# iterate over SALARY to convert to MXN from USD
for index, row in employees.iterrows():
  employees.loc[index, 'SALARY'] = row['SALARY'] * 20

In [ ]:
# Empleando funciones lambda
employees['SALARY'] = employees['SALARY'].apply(lambda x: x * 20)
employees['SALARY'].head()

0     52000
1     52000
2     88000
3    260000
4    120000
Name: SALARY, dtype: int64

In [ ]:
def convert_salary(salary):
  return salary * 20

In [ ]:
# Efficently iterate over SALARY to convert to MXN from USD
employees['SALARY'] = employees['SALARY'].apply(convert_salary)
employees['SALARY'].head()

0     52000
1     52000
2     88000
3    260000
4    120000
Name: SALARY, dtype: int64

In [ ]:
import polars as pl

In [ ]:
employees_pl = pl.from_pandas(employees)

In [ ]:
# calculate salary in MXN
employees_pl = employees_pl.with_columns(
    (pl.col('SALARY') * 20).alias('SALARY_MXN')
)

In [ ]:
employees_pl.head()

shape: (5, 12)
┌───────────┬───────────┬───────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ EMPLOYEE_ ┆ FIRST_NAM ┆ LAST_NAME ┆ EMAIL    ┆ … ┆ COMMISSIO ┆ MANAGER_I ┆ DEPARTMEN ┆ SALARY_MX │
│ ID        ┆ E         ┆ ---       ┆ ---      ┆   ┆ N_PCT     ┆ D         ┆ T_ID      ┆ N         │
│ ---       ┆ ---       ┆ str       ┆ str      ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ i64       ┆ str       ┆           ┆          ┆   ┆ str       ┆ str       ┆ i64       ┆ i64       │
╞═══════════╪═══════════╪═══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 198       ┆ Donald    ┆ OConnell  ┆ DOCONNEL ┆ … ┆  -        ┆ 124       ┆ 50        ┆ 1040000   │
│ 199       ┆ Douglas   ┆ Grant     ┆ DGRANT   ┆ … ┆  -        ┆ 124       ┆ 50        ┆ 1040000   │
│ 200       ┆ Jennifer  ┆ Whalen    ┆ JWHALEN  ┆ … ┆  -        ┆ 101       ┆ 10        ┆ 1760000   │
│ 201       ┆ Michael   ┆ Hartstein ┆ MHARTSTE ┆ … ┆  -        ┆ 100       ┆ 20        ┆ 5200000   │
│ 202       ┆ Pat       ┆ Fay       ┆ PFAY     ┆ … ┆  -        ┆ 201       ┆ 20        ┆ 2400000   │
└───────────┴───────────┴───────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘